<h3>Resume Page</h3>

<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="basicDetailsForm">
    <form [formGroup]="basicDetailsForm" (ngSubmit)="onSubmit(basicDetailsForm.value)">
      <ng-template matStepLabel>Fill out your basic details</ng-template>
      <!--  -->
      <div>
        <mat-form-field>
          <input matInput placeholder="Enter your name" id="name" type="text" formControlName="name" required>
          <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Enter your address" id="address" type="Textarea" formControlName="address"
            required>
          <mat-error *ngIf="f.address.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Enter your email" id="email" type="email" formControlName="email" required>
          <mat-error *ngIf="f.email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Enter your mobile" id="mobile" type="text" formControlName="mobile" required>
          <mat-error *ngIf="f.email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div>
        <label>Gender: </label>
        <mat-radio-group id="gender" formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <!--  -->
      <br>
      <div>
        <button type="submit" mat-button mat-raised-button matStepperNext>Save & Continue</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your work details</ng-template>
      <!-- -->
      <button mat-button mat-raised-button (click)="open()"> + Add Experience</button>
      <!--  -->

      <br>
      <br>

      Work Experiences:
      <div *ngIf="!items.length">Empty list
      </div>
      <div *ngFor="let item of items; let i = index">

        <mat-list>
          <mat-list-item>
            {{i+1}}. {{item.companyName}} - {{item.designation}} ({{item.start | date:'dd MMMM yyyy'}} -
            <span *ngIf="item.end; else templateEnd">
              {{item.end  | date:'dd MMMM yyyy'}} )
            </span>
            <ng-template #templateEnd>
              Present )
            </ng-template>
          </mat-list-item>
        </mat-list>
      </div>

      <br>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
