 <div class="modal-header">

   <p>Experience Details</p>

 </div>

 User id : {{userId}}
 User Name : {{userName}}
 <div class="modal-body">
   <form [formGroup]="workExperienceForm" (ngSubmit)="onSubmit(workExperienceForm.value)">
     <div>
       <mat-form-field>
         <input matInput placeholder="Company Name" id="companyName" type="text" formControlName="companyName" required>
         <!-- <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>

     <div>
       <mat-form-field>
         <input matInput placeholder="Designation" id="designation" type="text" formControlName="designation" required>
         <!-- <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>

     <div>
       <mat-form-field>
         <input matInput placeholder="Skills" id="skills" type="text" formControlName="skills" required>
         <!-- <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>

     <mat-checkbox id="isCurrentCompany" type="text" (click)="onCheckboxChangeFn()" formControlName="isCurrentCompany">
       Present Company
     </mat-checkbox>

     <div>
       <mat-form-field>
         <input matInput placeholder="Start Date" id="start" type="text" formControlName="start" required>
         <!-- <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>

     <div *ngIf="f.isCurrentCompany.value">
       <mat-form-field>
         <input matInput placeholder="End Date" id="end" type="text" formControlName="end" required>
         <!-- <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>

   </form>
 </div>

 <div class="modal-footer">
   <button type="submit" mat-button mat-raised-button matStepperNext>Add</button>
   <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
 </div>
