 <div class="modal-header">

   <p>Experience Details</p>

 </div>

 <div class="modal-body">

 User id : {{data.userId}}
 User Name : {{data.userName}}
   <form [formGroup]="workExperienceForm">
     <div>
       <mat-form-field>
         <input matInput placeholder="Company Name" id="companyName" type="text" formControlName="companyName" required>
         <!-- <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>

     <div>
       <mat-form-field>
         <input matInput placeholder="Designation" id="designation" type="text" formControlName="designation" required>
         <!-- <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>

     <div>
       <mat-form-field>
         <input matInput placeholder="Skills" id="skills" type="text" formControlName="skills">
         <!-- <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error> -->
       </mat-form-field>
     </div>

     <mat-checkbox id="isCurrentCompany" type="text" (click)="onCheckboxChangeFn()" formControlName="isCurrentCompany">
       Present Company
     </mat-checkbox>

     <div>
     <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Start Date" id="start" formControlName="start" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
     </div>

     <div *ngIf="!f.isCurrentCompany.value">
        <mat-form-field>
         <input matInput [matDatepicker]="picker" placeholder="End Date" id="end" formControlName="end" required>
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
     </div>

   </form>
 </div>

 <div class="modal-footer">
   <button type="submit" mat-button mat-raised-button  (click)="onSubmit(workExperienceForm.value)">Add</button>
   <button type="button" mat-button mat-raised-button [mat-dialog-close]="false">Close</button>
 </div>
